.auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  article {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .auth-providers {
    display: flex;
    button {
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: transparent;

    button {
      padding: 0.5rem;
      border: 1px solid white;
      color: white;
      font-size: 1.2rem;
      border-radius: 0.5rem;
      height: 40px;
      cursor: pointer;
      background-color: var(--color-background);

      &:active,
      &:focus {
        outline: 1px solid var(--accent-color);
        border-color: var(--accent-color);
      }
    }

    input {
      padding: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      height: 40px;
      font-size: 1rem;
      color: white;
      background-color: var(--color-background-secondary);
      &:focus {
        outline: 1px solid var(--accent-color);
      }
    }
  }
}
.or {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  p {
    font-size: 1rem;
  }
  div {
    flex: 1;
    height: 2px;
    border-radius: 99em;
    background-color: white;
  }
}
