.artist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  section:not(:first-of-type) {
    margin-top: 20px;
  }

  .artist__info {
    display: flex;
    width: 100%;
    gap: 20px;

    &__image > img {
      height: 400px;
      max-height: 50vh;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 600px;

      .popularity {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        &__bar {
          background-color: var(--color-background-secondary);
          height: 30px;
          border-radius: 99em;
          display: flex;
          align-items: center;
          flex: 1;

          & > p {
            position: relative;
            top: 100%;
            right: 10px;
          }

          &__progress {
            transition: width 0.5s ease-in-out;
            width: 0;
            background-color: var(--accent-color);
            height: 100%;
            border-radius: 99em;
          }
        }
      }

      h1 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--color-text-primary);
      }
    }
  }
}

.top__songs__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30vh;
  padding-top: 0.5rem;

  .top__songs__list {
    height: var(--top-songs-height);
    transition: height 0.5s ease-in-out;
    overflow: hidden;
  }

  .top__songs__list__item {
    display: flex;
    padding: 8px;
    gap: 8px;
    align-items: center;
    height: 75px;
    width: 100%;
    position: relative;
    background-color: transparent;
    color: white;
    border: none;

    &.listening {
      background-color: var(--color-background-secondary);
      color: var(--accent-color);
    }

    &:hover {
      background-color: var(--color-background-secondary);
      cursor: pointer;
    }

    .number {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      aspect-ratio: 1;

      .playing__icon {
        display: flex;
        justify-content: space-evenly;
        width: 30px;

        div {
          width: 8px;
          height: 32px;
          border-radius: 99em;
          background-color: var(--accent-color);
          &:nth-of-type(2) {
            visibility: hidden;
            width: 0;
            height: 0;
            opacity: 0;
            transition: all 200ms ease-in-out;
          }
        }
        &.playing {
          div:nth-child(1) {
            animation: tunes 400ms infinite alternate;
          }
          div:nth-child(2) {
            visibility: visible;
            width: 8px;
            height: 32px;
            opacity: 1;

            animation: tunes 400ms infinite alternate;
            animation-delay: 100ms;
          }
          div:nth-child(3) {
            animation: tunes 400ms infinite alternate;
            animation-delay: 200ms;
          }
        }
      }
    }

    .main__info {
      flex: 3;
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 0.25rem;
      }
    }
  }

  .show__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: var(--color-background-secondary);
    color: var(--accent-color);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--accent-color);
      color: var(--color-background-secondary);
    }
  }
}

@keyframes tunes {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
