.artist {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 100%;
  width: 100%;

  .artist__bio__container {
    display: flex;
    gap: 20px;
    width: 100%;

    &__item {
      max-width: calc(25% - 15px);
      flex: 1;
      position: relative;

      &:hover {
        cursor: pointer;

        & img {
          border-radius: 16px;
          box-shadow: 0 0 10px 5px var(--background-color-secondary);
        }
      }

      & .img__container {
        position: relative;
        height: fit-content;

        &:hover {
          & .play__button__container {
            background: linear-gradient(#0003 30%, #111f);
            opacity: 1;
            border-radius: 16px;
            & button {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }

        & img {
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
          transition: border-radius 250ms ease-in-out,
            box-shadow 250ms ease-in-out;
          z-index: 0;
        }

        .play__button__container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          aspect-ratio: 1;
          display: grid;
          place-items: flex-end;
          padding: 20px;
          background: linear-gradient(#0000 70%, #000f);
          transition: background-color 250ms ease-in-out,
            border-radius 250ms ease-in-out, opacity 250ms ease-in-out;
          border-radius: 0;
          opacity: 0;
          overflow: hidden;
          pointer-events: none;

          & button {
            background-color: var(--accent-color);
            display: grid;
            place-items: center;
            padding: 10px;
            pointer-events: all;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(100%);
            opacity: 0;
            transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;

            & svg {
              fill: white;
              font-size: 3rem;
            }
          }
        }
      }
    }
  }

  section:not(:first-of-type) {
    margin-top: 20px;
  }

  .artist__info {
    display: flex;
    width: 100%;
    gap: 20px;

    &__image > img {
      height: 400px;
      max-height: 50vh;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 600px;

      .popularity {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        &__bar {
          background-color: var(--background-color-secondary);
          height: 30px;
          border-radius: 99em;
          display: flex;
          align-items: center;
          flex: 1;

          & > p {
            position: relative;
            top: 100%;
            right: 10px;
          }

          &__progress {
            transition: width 0.5s ease-in-out;
            width: 0;
            background-color: var(--accent-color);
            height: 100%;
            border-radius: 99em;
          }
        }
      }

      h1 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--color-text-primary);
      }
    }
  }
}

.top__songs__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30vh;
  gap: 10px;

  .top__songs__list {
    height: var(--top-songs-height);
    transition: height 0.5s ease-in-out;
    overflow: hidden;
  }

  .top__songs__list__item {
    display: flex;
    padding: 8px;
    gap: 8px;
    align-items: center;
    height: 75px;
    width: 100%;
    position: relative;
    background-color: transparent;
    color: white;
    border: none;

    &.listening {
      background-color: var(--background-color-secondary);
      color: var(--accent-color);
    }

    &:hover {
      background-color: var(--background-color-secondary);
      cursor: pointer;
    }

    .number {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      aspect-ratio: 1;

      .playing__icon {
        display: flex;
        justify-content: space-evenly;
        width: 30px;

        div {
          width: 8px;
          height: 32px;
          border-radius: 99em;
          background-color: var(--accent-color);
          &:nth-of-type(2) {
            visibility: hidden;
            width: 0;
            height: 0;
            opacity: 0;
            transition: all 200ms ease-in-out;
          }
        }
        &.playing {
          div:nth-child(1) {
            animation: tunes 400ms infinite alternate;
          }
          div:nth-child(2) {
            visibility: visible;
            width: 8px;
            height: 32px;
            opacity: 1;

            animation: tunes 400ms infinite alternate;
            animation-delay: 100ms;
          }
          div:nth-child(3) {
            animation: tunes 400ms infinite alternate;
            animation-delay: 200ms;
          }
        }
      }
    }

    .main__info {
      flex: 3;
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 0.25rem;
      }
    }
  }
}

@keyframes tunes {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
