.artist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  section:not(:first-of-type) {
    margin-top: 1rem;
  }

  & section:first-of-type {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & .artist__banner__overlay {
      position: absolute;
      bottom: 25px;
      left: 25px;
      margin-right: 25px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1rem;
      border-radius: 0.5rem;

      & h1 {
        font-size: 5rem;
      }

      & h2 {
        font-weight: 400;
      }
    }
  }
}

.top__songs__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30vh;
  padding-top: 0.5rem;

  .top__songs__list__item {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    height: 75px;
    width: 100%;
    position: relative;
    background-color: transparent;
    color: white;
    border: none;

    &.listening {
      background-color: var(--color-background-secondary);
      color: var(--accent-color);
    }

    &:hover {
      background-color: var(--color-background-secondary);
      cursor: pointer;
    }

    .number {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      aspect-ratio: 1;

      .playing__icon {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 0.2rem;

        div {
          width: 0.3rem;
          height: 2rem;
          border-radius: 99em;
          background-color: var(--accent-color);
        }
        div:nth-child(1) {
          animation: tunes 400ms infinite alternate;
        }
        div:nth-child(2) {
          animation: tunes 400ms infinite alternate;
          animation-delay: 100ms;
        }
        div:nth-child(3) {
          animation: tunes 400ms infinite alternate;
          animation-delay: 200ms;
        }
      }
    }

    .main__info {
      flex: 3;
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 0.25rem;
      }
    }
  }
}
@keyframes tunes {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}
