header {
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  nav {
    display: flex;
    gap: 0.5rem;
    & > button {
      background-color: var(--color-background-secondary);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      height: 40px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      &:hover {
        background-color: var(--color-background-secondary);
      }
    }
    form {
      display: flex;

      button {
        color: white;
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        border-radius: 0 0.5rem 0.5rem 0;
        border-left: 1px solid var(--accent-color);
        cursor: pointer;

        background-color: var(--color-background-secondary);
        &:active,
        &:focus {
          outline: 1px solid var(--accent-color);
        }
      }

      input[type="text"] {
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem 0 0 0.5rem;
        height: 40px;
        outline: none;
        font-size: 1rem;
        color: white;
        background-color: var(--color-background-secondary);
        &:focus {
          outline: 1px solid var(--accent-color);
        }
      }
    }
    & > ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      li {

        &:last-of-type a {
          background-color: white;
          color: var(--color-background-secondary);
        }

        a {
          border: 1px solid white;
          padding: 0.5rem;
          border-radius: 0.5rem;
          transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
          
          &:hover {
            background-color: var(--color-background-secondary);
            border-color: var(--color-background-secondary);
            color: white;
          }
        }
      }
    }
  }

}
