.top__search__container {
  display: flex;
  overflow: hidden;
  gap: 10px;

  .top__artist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw;
    max-width: 320px;
    height: inherit;

    .artist__top__search {
      display: flex;
      flex-direction: column;
      height: 100%;
      &:hover {
        box-shadow: inset 0 0 10px 5px var(--color-background-secondary);
      }

      .artist__name {
        height: fit-content;
      }

      .img__container {
        position: relative;
        overflow: hidden;

        img {
          transition: transform 120ms ease-in-out;
          object-fit: cover;
          width: 100%;
          aspect-ratio: 1;
        }
      }
    }
  }
  .top__songs {
    flex: 2;
  }
}

.genres__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

@keyframes blur {
  0% {
    filter: blur(0);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    filter: blur(0);
  }
}
