.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--main-padding);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  .logo {
    font-size: 2.3rem;
  }

  nav {
    .active {
      color: white;
      fill: white;
    }

    fill: #eee;
    color: #eee;
    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0;

      svg {
        font-size: 1.5rem;
        transition: all 0.3s ease;
      }
    }
  }
}
