@use "./components/GenreThumb/genreThumb.scss";
@use "./components/Dropdown/dropdown-menu.scss";
:root {
  --accent-color: oklch(79.7% 0.173 214.2);
  --light-accent-color: oklch(86.18% 0.153 205.41);
  --background-color: #222;
  --background-color-secondary: #333;
  --background-color-tertiary: #444;
  --main-padding: 200px;
  --top-songs-height: 375px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--background-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.App.song {
  transition: padding 300ms ease-in-out;
  padding-bottom: 100px;
}

.google-btn {
  padding: 1rem;
  flex: 1;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--background-color-secondary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    outline: 1px solid var(--accent-color);
  }
  &:active,
  &:focus {
    outline: 2px solid var(--accent-color);
  }
}

.header-with-show-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  & > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    flex: 1;
  }
  & button {
    background-color: var(--background-color-secondary);
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--background-color-tertiary);
    }
  }
}
