:root {
  --accent-color: oklch(82.94% 0.185 205.41);
  --light-accent-color: oklch(86.18% 0.153 205.41);
  --color-background: #222;
  --color-background-secondary: #333;
  --main-padding: 200px;
  --top-songs-height: 375px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--color-background);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.App.song {
  transition: padding 300ms ease-in-out;
  padding-bottom: 100px;
}

.google-btn {
  padding: 1rem;
  flex: 1;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--color-background-secondary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    outline: 1px solid var(--accent-color);
  }
  &:active,
  &:focus {
    outline: 2px solid var(--accent-color);
  }
}
